.stars, .stars2, .stars3 {
    position: absolute;
    width: 100%;
    height: 100vh;    
    background: transparent;
}

.stars {
  width: 1px;
  height: 1px;
  animation: animStar 50s linear infinite;
  box-shadow: 779px 1331px #ffffff90, 324px 42px #ffffff90, 303px 586px #ffffff90,
    1312px 276px #ffffff90, 451px 625px #ffffff90, 521px 1931px #ffffff90, 1087px 1871px #ffffff90,
    36px 1546px #ffffff90, 132px 934px #ffffff90, 1698px 901px #ffffff90, 1418px 664px #ffffff90,
    1448px 1157px #ffffff90, 1084px 232px #ffffff90, 347px 1776px #ffffff90, 1722px 243px #ffffff90,
    1629px 835px #ffffff90, 479px 969px #ffffff90, 1231px 960px #ffffff90, 586px 384px #ffffff90,
    164px 527px #ffffff90, 8px 646px #ffffff90, 1150px 1126px #ffffff90, 665px 1357px #ffffff90,
    1556px 1982px #ffffff90, 1260px 1961px #ffffff90, 1675px 1741px #ffffff90,
    1843px 1514px #ffffff90, 718px 1628px #ffffff90, 242px 1343px #ffffff90, 1497px 1880px #ffffff90,
    1364px 230px #ffffff90, 1739px 1302px #ffffff90, 636px 959px #ffffff90, 304px 686px #ffffff90,
    614px 751px #ffffff90, 1935px 816px #ffffff90, 1428px 60px #ffffff90, 355px 335px #ffffff90,
    1594px 158px #ffffff90, 90px 60px #ffffff90, 1553px 162px #ffffff90, 1239px 1825px #ffffff90,
    1945px 587px #ffffff90, 749px 1785px #ffffff90, 1987px 1172px #ffffff90, 1301px 1237px #ffffff90,
    1039px 342px #ffffff90, 1585px 1481px #ffffff90, 995px 1048px #ffffff90, 524px 932px #ffffff90,
    214px 413px #ffffff90, 1701px 1300px #ffffff90, 1037px 1613px #ffffff90, 1871px 996px #ffffff90,
    1360px 1635px #ffffff90, 1110px 1313px #ffffff90, 412px 1783px #ffffff90, 1949px 177px #ffffff90,
    903px 1854px #ffffff90, 700px 1936px #ffffff90, 378px 125px #ffffff90, 308px 834px #ffffff90,
    1118px 962px #ffffff90, 1350px 1929px #ffffff90, 781px 1811px #ffffff90, 561px 137px #ffffff90,
    757px 1148px #ffffff90, 1670px 1979px #ffffff90, 343px 739px #ffffff90, 945px 795px #ffffff90,
    576px 1903px #ffffff90, 1078px 1436px #ffffff90, 1583px 450px #ffffff90, 1366px 474px #ffffff90,
    297px 1873px #ffffff90, 192px 162px #ffffff90, 1624px 1633px #ffffff90, 59px 453px #ffffff90,
    82px 1872px #ffffff90, 1933px 498px #ffffff90, 1966px 1974px #ffffff90, 1975px 1688px #ffffff90,
    779px 314px #ffffff90, 1858px 1543px #ffffff90, 73px 1507px #ffffff90, 1693px 975px #ffffff90,
    1683px 108px #ffffff90, 1768px 1654px #ffffff90, 654px 14px #ffffff90, 494px 171px #ffffff90,
    1689px 1895px #ffffff90, 1660px 263px #ffffff90, 1031px 903px #ffffff90, 1203px 1393px #ffffff90,
    1333px 1421px #ffffff90, 1113px 41px #ffffff90, 1206px 1645px #ffffff90, 1325px 1635px #ffffff90,
    142px 388px #ffffff90, 572px 215px #ffffff90, 1535px 296px #ffffff90, 1419px 407px #ffffff90,
    1379px 1003px #ffffff90, 329px 469px #ffffff90, 1791px 1652px #ffffff90, 935px 1802px #ffffff90,
    1330px 1820px #ffffff90, 421px 1933px #ffffff90, 828px 365px #ffffff90, 275px 316px #ffffff90,
    707px 960px #ffffff90, 1605px 1554px #ffffff90, 625px 58px #ffffff90, 717px 1697px #ffffff90,
    1669px 246px #ffffff90, 1925px 322px #ffffff90, 1154px 1803px #ffffff90, 1929px 295px #ffffff90,
    1248px 240px #ffffff90, 1045px 1755px #ffffff90, 166px 942px #ffffff90, 1888px 1773px #ffffff90,
    678px 1963px #ffffff90, 1370px 569px #ffffff90, 1974px 1400px #ffffff90, 1786px 460px #ffffff90,
    51px 307px #ffffff90, 784px 1400px #ffffff90, 730px 1258px #ffffff90, 1712px 393px #ffffff90,
    416px 170px #ffffff90, 1797px 1932px #ffffff90, 572px 219px #ffffff90, 1557px 1856px #ffffff90,
    218px 8px #ffffff90, 348px 1334px #ffffff90, 469px 413px #ffffff90, 385px 1738px #ffffff90,
    1357px 1818px #ffffff90, 240px 942px #ffffff90, 248px 1847px #ffffff90, 1535px 806px #ffffff90,
    236px 1514px #ffffff90, 1429px 1556px #ffffff90, 73px 1633px #ffffff90, 1398px 1121px #ffffff90,
    671px 1301px #ffffff90, 1404px 1663px #ffffff90, 740px 1018px #ffffff90, 1600px 377px #ffffff90,
    785px 514px #ffffff90, 112px 1084px #ffffff90, 1915px 1887px #ffffff90, 1463px 1848px #ffffff90,
    687px 1115px #ffffff90, 1268px 1768px #ffffff90, 1729px 1425px #ffffff90,
    1284px 1022px #ffffff90, 801px 974px #ffffff90, 1975px 1317px #ffffff90, 1354px 834px #ffffff90,
    1446px 1484px #ffffff90, 1283px 1786px #ffffff90, 11px 523px #ffffff90, 1842px 236px #ffffff90,
    1355px 654px #ffffff90, 429px 7px #ffffff90, 1033px 1128px #ffffff90, 157px 297px #ffffff90,
    545px 635px #ffffff90, 52px 1080px #ffffff90, 827px 1520px #ffffff90, 1121px 490px #ffffff90,
    9px 309px #ffffff90, 1744px 1586px #ffffff90, 1014px 417px #ffffff90, 1534px 524px #ffffff90,
    958px 552px #ffffff90, 1403px 1496px #ffffff90, 387px 703px #ffffff90, 1522px 548px #ffffff90,
    1355px 282px #ffffff90, 1532px 601px #ffffff90, 1838px 790px #ffffff90, 290px 259px #ffffff90,
    295px 598px #ffffff90, 1601px 539px #ffffff90, 1561px 1272px #ffffff90, 34px 1922px #ffffff90,
    1024px 543px #ffffff90, 467px 369px #ffffff90, 722px 333px #ffffff90, 1976px 1255px #ffffff90,
    766px 983px #ffffff90, 1582px 1285px #ffffff90, 12px 512px #ffffff90, 617px 1410px #ffffff90,
    682px 577px #ffffff90, 1334px 1438px #ffffff90, 439px 327px #ffffff90, 1617px 1661px #ffffff90,
    673px 129px #ffffff90, 794px 941px #ffffff90, 1386px 1902px #ffffff90, 37px 1353px #ffffff90,
    1467px 1353px #ffffff90, 416px 18px #ffffff90, 187px 344px #ffffff90, 200px 1898px #ffffff90,
    1491px 1619px #ffffff90, 811px 347px #ffffff90, 924px 1827px #ffffff90, 945px 217px #ffffff90,
    1735px 1228px #ffffff90, 379px 1890px #ffffff90, 79px 761px #ffffff90, 825px 1837px #ffffff90,
    1980px 1558px #ffffff90, 1308px 1573px #ffffff90, 1488px 1726px #ffffff90,
    382px 1208px #ffffff90, 522px 595px #ffffff90, 1277px 1898px #ffffff90, 354px 552px #ffffff90,
    161px 1784px #ffffff90, 614px 251px #ffffff90, 526px 1576px #ffffff90, 17px 212px #ffffff90,
    179px 996px #ffffff90, 467px 1208px #ffffff90, 1944px 1838px #ffffff90, 1140px 1093px #ffffff90,
    858px 1007px #ffffff90, 200px 1064px #ffffff90, 423px 1964px #ffffff90, 1945px 439px #ffffff90,
    1377px 689px #ffffff90, 1120px 1437px #ffffff90, 1876px 668px #ffffff90, 907px 1324px #ffffff90,
    343px 1976px #ffffff90, 1816px 1501px #ffffff90, 1849px 177px #ffffff90, 647px 91px #ffffff90,
    1984px 1012px #ffffff90, 1336px 1300px #ffffff90, 128px 648px #ffffff90, 305px 1060px #ffffff90,
    1324px 826px #ffffff90, 1263px 1314px #ffffff90, 1801px 629px #ffffff90, 1614px 1555px #ffffff90,
    1634px 90px #ffffff90, 1603px 452px #ffffff90, 891px 1984px #ffffff90, 1556px 1906px #ffffff90,
    121px 68px #ffffff90, 1676px 1714px #ffffff90, 516px 936px #ffffff90, 1947px 1492px #ffffff90,
    1455px 1519px #ffffff90, 45px 602px #ffffff90, 205px 1039px #ffffff90, 793px 172px #ffffff90,
    1562px 1739px #ffffff90, 1056px 110px #ffffff90, 1512px 379px #ffffff90, 1795px 1621px #ffffff90,
    1848px 607px #ffffff90, 262px 1719px #ffffff90, 477px 991px #ffffff90, 483px 883px #ffffff90,
    1239px 1197px #ffffff90, 1496px 647px #ffffff90, 1649px 25px #ffffff90, 1491px 1946px #ffffff90,
    119px 996px #ffffff90, 179px 1472px #ffffff90, 1341px 808px #ffffff90, 1565px 1700px #ffffff90,
    407px 1544px #ffffff90, 1754px 357px #ffffff90, 1288px 981px #ffffff90, 902px 1997px #ffffff90,
    1755px 1668px #ffffff90, 186px 877px #ffffff90, 1202px 1882px #ffffff90, 461px 1213px #ffffff90,
    1400px 748px #ffffff90, 1969px 1899px #ffffff90, 809px 522px #ffffff90, 514px 1219px #ffffff90,
    374px 275px #ffffff90, 938px 1973px #ffffff90, 357px 552px #ffffff90, 144px 1722px #ffffff90,
    1572px 912px #ffffff90, 402px 1858px #ffffff90, 1544px 1195px #ffffff90, 667px 1257px #ffffff90,
    727px 1496px #ffffff90, 993px 232px #ffffff90, 1772px 313px #ffffff90, 1040px 1590px #ffffff90,
    1204px 1973px #ffffff90, 1268px 79px #ffffff90, 1555px 1048px #ffffff90, 986px 1707px #ffffff90,
    978px 1710px #ffffff90, 713px 360px #ffffff90, 407px 863px #ffffff90, 461px 736px #ffffff90,
    284px 1608px #ffffff90, 103px 430px #ffffff90, 1283px 1319px #ffffff90, 977px 1186px #ffffff90,
    1966px 1516px #ffffff90, 1287px 1129px #ffffff90, 70px 1098px #ffffff90, 1189px 889px #ffffff90,
    1126px 1734px #ffffff90, 309px 1292px #ffffff90, 879px 764px #ffffff90, 65px 473px #ffffff90,
    1003px 1959px #ffffff90, 658px 791px #ffffff90, 402px 1576px #ffffff90, 35px 622px #ffffff90,
    529px 1589px #ffffff90, 164px 666px #ffffff90, 1876px 1290px #ffffff90, 1541px 526px #ffffff90,
    270px 1297px #ffffff90, 440px 865px #ffffff90, 1500px 802px #ffffff90, 182px 1754px #ffffff90,
    1264px 892px #ffffff90, 272px 1249px #ffffff90, 1289px 1535px #ffffff90, 190px 1646px #ffffff90,
    955px 242px #ffffff90, 1456px 1597px #ffffff90, 1727px 1983px #ffffff90, 635px 801px #ffffff90,
    226px 455px #ffffff90, 1396px 1710px #ffffff90, 849px 1863px #ffffff90, 237px 1264px #ffffff90,
    839px 140px #ffffff90, 1122px 735px #ffffff90, 1280px 15px #ffffff90, 1318px 242px #ffffff90,
    1819px 1148px #ffffff90, 333px 1392px #ffffff90, 1949px 553px #ffffff90, 1878px 1332px #ffffff90,
    467px 548px #ffffff90, 1812px 1082px #ffffff90, 1067px 193px #ffffff90, 243px 156px #ffffff90,
    483px 1616px #ffffff90, 1714px 933px #ffffff90, 759px 1800px #ffffff90, 1822px 995px #ffffff90,
    1877px 572px #ffffff90, 581px 1084px #ffffff90, 107px 732px #ffffff90, 642px 1837px #ffffff90,
    166px 1493px #ffffff90, 1555px 198px #ffffff90, 819px 307px #ffffff90, 947px 345px #ffffff90,
    827px 224px #ffffff90, 927px 1394px #ffffff90, 540px 467px #ffffff90, 1093px 405px #ffffff90,
    1140px 927px #ffffff90, 130px 529px #ffffff90, 33px 1980px #ffffff90, 1147px 1663px #ffffff90,
    1616px 1436px #ffffff90, 528px 710px #ffffff90, 798px 1100px #ffffff90, 505px 1480px #ffffff90,
    899px 641px #ffffff90, 1909px 1949px #ffffff90, 1311px 964px #ffffff90, 979px 1301px #ffffff90,
    1393px 969px #ffffff90, 1793px 1886px #ffffff90, 292px 357px #ffffff90, 1196px 1718px #ffffff90,
    1290px 1994px #ffffff90, 537px 1973px #ffffff90, 1181px 1674px #ffffff90,
    1740px 1566px #ffffff90, 1307px 265px #ffffff90, 922px 522px #ffffff90, 1892px 472px #ffffff90,
    384px 1746px #ffffff90, 392px 1098px #ffffff90, 647px 548px #ffffff90, 390px 1498px #ffffff90,
    1246px 138px #ffffff90, 730px 876px #ffffff90, 192px 1472px #ffffff90, 1790px 1789px #ffffff90,
    928px 311px #ffffff90, 1253px 1647px #ffffff90, 747px 1921px #ffffff90, 1561px 1025px #ffffff90,
    1533px 1292px #ffffff90, 1985px 195px #ffffff90, 728px 729px #ffffff90, 1712px 1936px #ffffff90,
    512px 1717px #ffffff90, 1528px 483px #ffffff90, 313px 1642px #ffffff90, 281px 1849px #ffffff90,
    1212px 799px #ffffff90, 435px 1191px #ffffff90, 1422px 611px #ffffff90, 1718px 1964px #ffffff90,
    411px 944px #ffffff90, 210px 636px #ffffff90, 1502px 1295px #ffffff90, 1434px 349px #ffffff90,
    769px 60px #ffffff90, 747px 1053px #ffffff90, 789px 504px #ffffff90, 1436px 1264px #ffffff90,
    1893px 1225px #ffffff90, 1394px 1788px #ffffff90, 1108px 1317px #ffffff90,
    1673px 1395px #ffffff90, 854px 1010px #ffffff90, 1705px 80px #ffffff90, 1858px 148px #ffffff90,
    1729px 344px #ffffff90, 1388px 664px #ffffff90, 895px 406px #ffffff90, 1479px 157px #ffffff90,
    1441px 1157px #ffffff90, 552px 1900px #ffffff90, 516px 364px #ffffff90, 1647px 189px #ffffff90,
    1427px 1071px #ffffff90, 785px 729px #ffffff90, 1080px 1710px #ffffff90, 504px 204px #ffffff90,
    1177px 1622px #ffffff90, 657px 34px #ffffff90, 1296px 1099px #ffffff90, 248px 180px #ffffff90,
    1212px 1568px #ffffff90, 667px 1562px #ffffff90, 695px 841px #ffffff90, 1608px 1247px #ffffff90,
    751px 882px #ffffff90, 87px 167px #ffffff90, 607px 1368px #ffffff90, 1363px 1203px #ffffff90,
    1836px 317px #ffffff90, 1668px 1703px #ffffff90, 830px 1154px #ffffff90, 1721px 1398px #ffffff90,
    1601px 1280px #ffffff90, 976px 874px #ffffff90, 1743px 254px #ffffff90, 1020px 1815px #ffffff90,
    1670px 1766px #ffffff90, 1890px 735px #ffffff90, 1379px 136px #ffffff90, 1864px 695px #ffffff90,
    206px 965px #ffffff90, 1404px 1932px #ffffff90, 1923px 1360px #ffffff90, 247px 682px #ffffff90,
    519px 1708px #ffffff90, 645px 750px #ffffff90, 1164px 1204px #ffffff90, 834px 323px #ffffff90,
    172px 1350px #ffffff90, 213px 972px #ffffff90, 1837px 190px #ffffff90, 285px 1806px #ffffff90,
    1047px 1299px #ffffff90, 1548px 825px #ffffff90, 1730px 324px #ffffff90, 1346px 1909px #ffffff90,
    772px 270px #ffffff90, 345px 1190px #ffffff90, 478px 1433px #ffffff90, 1479px 25px #ffffff90,
    1994px 1830px #ffffff90, 1744px 732px #ffffff90, 20px 1635px #ffffff90, 690px 1795px #ffffff90,
    1594px 569px #ffffff90, 579px 245px #ffffff90, 1398px 733px #ffffff90, 408px 1352px #ffffff90,
    1774px 120px #ffffff90, 1152px 1370px #ffffff90, 1698px 1810px #ffffff90, 710px 1450px #ffffff90,
    665px 286px #ffffff90, 493px 1720px #ffffff90, 786px 5px #ffffff90, 637px 1140px #ffffff90,
    764px 324px #ffffff90, 927px 310px #ffffff90, 938px 1424px #ffffff90, 1884px 744px #ffffff90,
    913px 462px #ffffff90, 1831px 1936px #ffffff90, 1527px 249px #ffffff90, 36px 1381px #ffffff90,
    1597px 581px #ffffff90, 1530px 355px #ffffff90, 949px 459px #ffffff90, 799px 828px #ffffff90,
    242px 1471px #ffffff90, 654px 797px #ffffff90, 796px 594px #ffffff90, 1365px 678px #ffffff90,
    752px 23px #ffffff90, 1630px 541px #ffffff90, 982px 72px #ffffff90, 1733px 1831px #ffffff90,
    21px 412px #ffffff90, 775px 998px #ffffff90, 335px 1945px #ffffff90, 264px 583px #ffffff90,
    158px 1311px #ffffff90, 528px 164px #ffffff90, 1978px 574px #ffffff90, 717px 1203px #ffffff90,
    734px 1591px #ffffff90, 1555px 820px #ffffff90, 16px 1943px #ffffff90, 1625px 1177px #ffffff90,
    1236px 690px #ffffff90, 1585px 1590px #ffffff90, 1737px 1728px #ffffff90, 721px 698px #ffffff90,
    1804px 1186px #ffffff90, 166px 980px #ffffff90, 1850px 230px #ffffff90, 330px 1712px #ffffff90,
    95px 797px #ffffff90, 1948px 1078px #ffffff90, 469px 939px #ffffff90, 1269px 1899px #ffffff90,
    955px 1220px #ffffff90, 1137px 1075px #ffffff90, 312px 1293px #ffffff90, 986px 1762px #ffffff90,
    1103px 1238px #ffffff90, 428px 1993px #ffffff90, 355px 570px #ffffff90, 977px 1836px #ffffff90,
    1395px 1092px #ffffff90, 276px 913px #ffffff90, 1743px 656px #ffffff90, 773px 502px #ffffff90,
    1686px 1322px #ffffff90, 1516px 1945px #ffffff90, 1334px 501px #ffffff90, 266px 156px #ffffff90,
    455px 655px #ffffff90, 798px 72px #ffffff90, 1059px 1259px #ffffff90, 1402px 1687px #ffffff90,
    236px 1329px #ffffff90, 1455px 786px #ffffff90, 146px 1228px #ffffff90, 1851px 823px #ffffff90,
    1062px 100px #ffffff90, 1220px 953px #ffffff90, 20px 1826px #ffffff90, 36px 1063px #ffffff90,
    1525px 338px #ffffff90, 790px 1521px #ffffff90, 741px 1099px #ffffff90, 288px 1489px #ffffff90,
    700px 1060px #ffffff90, 390px 1071px #ffffff90, 411px 1036px #ffffff90, 1853px 1072px #ffffff90,
    1446px 1085px #ffffff90, 1164px 874px #ffffff90, 924px 925px #ffffff90, 291px 271px #ffffff90,
    1257px 1964px #ffffff90, 1580px 1352px #ffffff90, 1507px 1216px #ffffff90, 211px 956px #ffffff90,
    985px 1195px #ffffff90, 975px 1640px #ffffff90, 518px 101px #ffffff90, 663px 1395px #ffffff90,
    914px 532px #ffffff90, 145px 1320px #ffffff90, 69px 1397px #ffffff90, 982px 523px #ffffff90,
    257px 725px #ffffff90, 1599px 831px #ffffff90, 1636px 1513px #ffffff90, 1250px 1158px #ffffff90,
    1132px 604px #ffffff90, 183px 102px #ffffff90, 1057px 318px #ffffff90, 1247px 1835px #ffffff90,
    1983px 1110px #ffffff90, 1077px 1455px #ffffff90, 921px 1770px #ffffff90, 806px 1350px #ffffff90,
    1938px 1992px #ffffff90, 855px 1260px #ffffff90, 902px 1345px #ffffff90, 658px 1908px #ffffff90,
    1845px 679px #ffffff90, 712px 1482px #ffffff90, 595px 950px #ffffff90, 1784px 1992px #ffffff90,
    1847px 1785px #ffffff90, 691px 1004px #ffffff90, 175px 1179px #ffffff90, 1666px 1911px #ffffff90,
    41px 61px #ffffff90, 971px 1080px #ffffff90, 1830px 1450px #ffffff90, 1351px 1518px #ffffff90,
    1257px 99px #ffffff90, 1395px 1498px #ffffff90, 1117px 252px #ffffff90, 1779px 597px #ffffff90,
    1346px 729px #ffffff90, 1108px 1144px #ffffff90, 402px 691px #ffffff90, 72px 496px #ffffff90,
    1673px 1604px #ffffff90, 1497px 974px #ffffff90, 1865px 1664px #ffffff90, 88px 806px #ffffff90,
    918px 77px #ffffff90, 244px 1118px #ffffff90, 256px 1820px #ffffff90, 1851px 1840px #ffffff90,
    605px 1851px #ffffff90, 634px 383px #ffffff90, 865px 37px #ffffff90, 943px 1024px #ffffff90,
    1951px 177px #ffffff90, 1097px 523px #ffffff90, 985px 1700px #ffffff90, 1243px 122px #ffffff90,
    768px 1070px #ffffff90, 468px 194px #ffffff90, 320px 1867px #ffffff90, 1850px 185px #ffffff90,
    380px 1616px #ffffff90, 468px 1294px #ffffff90, 1122px 1743px #ffffff90, 884px 299px #ffffff90,
    1300px 1917px #ffffff90, 1860px 396px #ffffff90, 1270px 990px #ffffff90, 529px 733px #ffffff90,
    1975px 1347px #ffffff90, 1885px 685px #ffffff90, 226px 506px #ffffff90, 651px 878px #ffffff90,
    1323px 680px #ffffff90, 1284px 680px #ffffff90, 238px 1967px #ffffff90, 911px 174px #ffffff90,
    1111px 521px #ffffff90, 1150px 85px #ffffff90, 794px 502px #ffffff90, 484px 1856px #ffffff90,
    1809px 368px #ffffff90, 112px 953px #ffffff90, 590px 1009px #ffffff90, 1655px 311px #ffffff90,
    100px 1026px #ffffff90, 1803px 352px #ffffff90, 865px 306px #ffffff90, 1077px 1019px #ffffff90,
    1335px 872px #ffffff90, 1647px 1298px #ffffff90, 1233px 1387px #ffffff90, 698px 1036px #ffffff90,
    659px 1860px #ffffff90, 388px 1412px #ffffff90, 1212px 458px #ffffff90, 755px 1468px #ffffff90,
    696px 1654px #ffffff90, 1144px 60px #ffffff90;
}

.stars:after {
  content: '';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 779px 1331px #ffffff90, 324px 42px #ffffff90, 303px 586px #ffffff90,
    1312px 276px #ffffff90, 451px 625px #ffffff90, 521px 1931px #ffffff90, 1087px 1871px #ffffff90,
    36px 1546px #ffffff90, 132px 934px #ffffff90, 1698px 901px #ffffff90, 1418px 664px #ffffff90,
    1448px 1157px #ffffff90, 1084px 232px #ffffff90, 347px 1776px #ffffff90, 1722px 243px #ffffff90,
    1629px 835px #ffffff90, 479px 969px #ffffff90, 1231px 960px #ffffff90, 586px 384px #ffffff90,
    164px 527px #ffffff90, 8px 646px #ffffff90, 1150px 1126px #ffffff90, 665px 1357px #ffffff90,
    1556px 1982px #ffffff90, 1260px 1961px #ffffff90, 1675px 1741px #ffffff90,
    1843px 1514px #ffffff90, 718px 1628px #ffffff90, 242px 1343px #ffffff90, 1497px 1880px #ffffff90,
    1364px 230px #ffffff90, 1739px 1302px #ffffff90, 636px 959px #ffffff90, 304px 686px #ffffff90,
    614px 751px #ffffff90, 1935px 816px #ffffff90, 1428px 60px #ffffff90, 355px 335px #ffffff90,
    1594px 158px #ffffff90, 90px 60px #ffffff90, 1553px 162px #ffffff90, 1239px 1825px #ffffff90,
    1945px 587px #ffffff90, 749px 1785px #ffffff90, 1987px 1172px #ffffff90, 1301px 1237px #ffffff90,
    1039px 342px #ffffff90, 1585px 1481px #ffffff90, 995px 1048px #ffffff90, 524px 932px #ffffff90,
    214px 413px #ffffff90, 1701px 1300px #ffffff90, 1037px 1613px #ffffff90, 1871px 996px #ffffff90,
    1360px 1635px #ffffff90, 1110px 1313px #ffffff90, 412px 1783px #ffffff90, 1949px 177px #ffffff90,
    903px 1854px #ffffff90, 700px 1936px #ffffff90, 378px 125px #ffffff90, 308px 834px #ffffff90,
    1118px 962px #ffffff90, 1350px 1929px #ffffff90, 781px 1811px #ffffff90, 561px 137px #ffffff90,
    757px 1148px #ffffff90, 1670px 1979px #ffffff90, 343px 739px #ffffff90, 945px 795px #ffffff90,
    576px 1903px #ffffff90, 1078px 1436px #ffffff90, 1583px 450px #ffffff90, 1366px 474px #ffffff90,
    297px 1873px #ffffff90, 192px 162px #ffffff90, 1624px 1633px #ffffff90, 59px 453px #ffffff90,
    82px 1872px #ffffff90, 1933px 498px #ffffff90, 1966px 1974px #ffffff90, 1975px 1688px #ffffff90,
    779px 314px #ffffff90, 1858px 1543px #ffffff90, 73px 1507px #ffffff90, 1693px 975px #ffffff90,
    1683px 108px #ffffff90, 1768px 1654px #ffffff90, 654px 14px #ffffff90, 494px 171px #ffffff90,
    1689px 1895px #ffffff90, 1660px 263px #ffffff90, 1031px 903px #ffffff90, 1203px 1393px #ffffff90,
    1333px 1421px #ffffff90, 1113px 41px #ffffff90, 1206px 1645px #ffffff90, 1325px 1635px #ffffff90,
    142px 388px #ffffff90, 572px 215px #ffffff90, 1535px 296px #ffffff90, 1419px 407px #ffffff90,
    1379px 1003px #ffffff90, 329px 469px #ffffff90, 1791px 1652px #ffffff90, 935px 1802px #ffffff90,
    1330px 1820px #ffffff90, 421px 1933px #ffffff90, 828px 365px #ffffff90, 275px 316px #ffffff90,
    707px 960px #ffffff90, 1605px 1554px #ffffff90, 625px 58px #ffffff90, 717px 1697px #ffffff90,
    1669px 246px #ffffff90, 1925px 322px #ffffff90, 1154px 1803px #ffffff90, 1929px 295px #ffffff90,
    1248px 240px #ffffff90, 1045px 1755px #ffffff90, 166px 942px #ffffff90, 1888px 1773px #ffffff90,
    678px 1963px #ffffff90, 1370px 569px #ffffff90, 1974px 1400px #ffffff90, 1786px 460px #ffffff90,
    51px 307px #ffffff90, 784px 1400px #ffffff90, 730px 1258px #ffffff90, 1712px 393px #ffffff90,
    416px 170px #ffffff90, 1797px 1932px #ffffff90, 572px 219px #ffffff90, 1557px 1856px #ffffff90,
    218px 8px #ffffff90, 348px 1334px #ffffff90, 469px 413px #ffffff90, 385px 1738px #ffffff90,
    1357px 1818px #ffffff90, 240px 942px #ffffff90, 248px 1847px #ffffff90, 1535px 806px #ffffff90,
    236px 1514px #ffffff90, 1429px 1556px #ffffff90, 73px 1633px #ffffff90, 1398px 1121px #ffffff90,
    671px 1301px #ffffff90, 1404px 1663px #ffffff90, 740px 1018px #ffffff90, 1600px 377px #ffffff90,
    785px 514px #ffffff90, 112px 1084px #ffffff90, 1915px 1887px #ffffff90, 1463px 1848px #ffffff90,
    687px 1115px #ffffff90, 1268px 1768px #ffffff90, 1729px 1425px #ffffff90,
    1284px 1022px #ffffff90, 801px 974px #ffffff90, 1975px 1317px #ffffff90, 1354px 834px #ffffff90,
    1446px 1484px #ffffff90, 1283px 1786px #ffffff90, 11px 523px #ffffff90, 1842px 236px #ffffff90,
    1355px 654px #ffffff90, 429px 7px #ffffff90, 1033px 1128px #ffffff90, 157px 297px #ffffff90,
    545px 635px #ffffff90, 52px 1080px #ffffff90, 827px 1520px #ffffff90, 1121px 490px #ffffff90,
    9px 309px #ffffff90, 1744px 1586px #ffffff90, 1014px 417px #ffffff90, 1534px 524px #ffffff90,
    958px 552px #ffffff90, 1403px 1496px #ffffff90, 387px 703px #ffffff90, 1522px 548px #ffffff90,
    1355px 282px #ffffff90, 1532px 601px #ffffff90, 1838px 790px #ffffff90, 290px 259px #ffffff90,
    295px 598px #ffffff90, 1601px 539px #ffffff90, 1561px 1272px #ffffff90, 34px 1922px #ffffff90,
    1024px 543px #ffffff90, 467px 369px #ffffff90, 722px 333px #ffffff90, 1976px 1255px #ffffff90,
    766px 983px #ffffff90, 1582px 1285px #ffffff90, 12px 512px #ffffff90, 617px 1410px #ffffff90,
    682px 577px #ffffff90, 1334px 1438px #ffffff90, 439px 327px #ffffff90, 1617px 1661px #ffffff90,
    673px 129px #ffffff90, 794px 941px #ffffff90, 1386px 1902px #ffffff90, 37px 1353px #ffffff90,
    1467px 1353px #ffffff90, 416px 18px #ffffff90, 187px 344px #ffffff90, 200px 1898px #ffffff90,
    1491px 1619px #ffffff90, 811px 347px #ffffff90, 924px 1827px #ffffff90, 945px 217px #ffffff90,
    1735px 1228px #ffffff90, 379px 1890px #ffffff90, 79px 761px #ffffff90, 825px 1837px #ffffff90,
    1980px 1558px #ffffff90, 1308px 1573px #ffffff90, 1488px 1726px #ffffff90,
    382px 1208px #ffffff90, 522px 595px #ffffff90, 1277px 1898px #ffffff90, 354px 552px #ffffff90,
    161px 1784px #ffffff90, 614px 251px #ffffff90, 526px 1576px #ffffff90, 17px 212px #ffffff90,
    179px 996px #ffffff90, 467px 1208px #ffffff90, 1944px 1838px #ffffff90, 1140px 1093px #ffffff90,
    858px 1007px #ffffff90, 200px 1064px #ffffff90, 423px 1964px #ffffff90, 1945px 439px #ffffff90,
    1377px 689px #ffffff90, 1120px 1437px #ffffff90, 1876px 668px #ffffff90, 907px 1324px #ffffff90,
    343px 1976px #ffffff90, 1816px 1501px #ffffff90, 1849px 177px #ffffff90, 647px 91px #ffffff90,
    1984px 1012px #ffffff90, 1336px 1300px #ffffff90, 128px 648px #ffffff90, 305px 1060px #ffffff90,
    1324px 826px #ffffff90, 1263px 1314px #ffffff90, 1801px 629px #ffffff90, 1614px 1555px #ffffff90,
    1634px 90px #ffffff90, 1603px 452px #ffffff90, 891px 1984px #ffffff90, 1556px 1906px #ffffff90,
    121px 68px #ffffff90, 1676px 1714px #ffffff90, 516px 936px #ffffff90, 1947px 1492px #ffffff90,
    1455px 1519px #ffffff90, 45px 602px #ffffff90, 205px 1039px #ffffff90, 793px 172px #ffffff90,
    1562px 1739px #ffffff90, 1056px 110px #ffffff90, 1512px 379px #ffffff90, 1795px 1621px #ffffff90,
    1848px 607px #ffffff90, 262px 1719px #ffffff90, 477px 991px #ffffff90, 483px 883px #ffffff90,
    1239px 1197px #ffffff90, 1496px 647px #ffffff90, 1649px 25px #ffffff90, 1491px 1946px #ffffff90,
    119px 996px #ffffff90, 179px 1472px #ffffff90, 1341px 808px #ffffff90, 1565px 1700px #ffffff90,
    407px 1544px #ffffff90, 1754px 357px #ffffff90, 1288px 981px #ffffff90, 902px 1997px #ffffff90,
    1755px 1668px #ffffff90, 186px 877px #ffffff90, 1202px 1882px #ffffff90, 461px 1213px #ffffff90,
    1400px 748px #ffffff90, 1969px 1899px #ffffff90, 809px 522px #ffffff90, 514px 1219px #ffffff90,
    374px 275px #ffffff90, 938px 1973px #ffffff90, 357px 552px #ffffff90, 144px 1722px #ffffff90,
    1572px 912px #ffffff90, 402px 1858px #ffffff90, 1544px 1195px #ffffff90, 667px 1257px #ffffff90,
    727px 1496px #ffffff90, 993px 232px #ffffff90, 1772px 313px #ffffff90, 1040px 1590px #ffffff90,
    1204px 1973px #ffffff90, 1268px 79px #ffffff90, 1555px 1048px #ffffff90, 986px 1707px #ffffff90,
    978px 1710px #ffffff90, 713px 360px #ffffff90, 407px 863px #ffffff90, 461px 736px #ffffff90,
    284px 1608px #ffffff90, 103px 430px #ffffff90, 1283px 1319px #ffffff90, 977px 1186px #ffffff90,
    1966px 1516px #ffffff90, 1287px 1129px #ffffff90, 70px 1098px #ffffff90, 1189px 889px #ffffff90,
    1126px 1734px #ffffff90, 309px 1292px #ffffff90, 879px 764px #ffffff90, 65px 473px #ffffff90,
    1003px 1959px #ffffff90, 658px 791px #ffffff90, 402px 1576px #ffffff90, 35px 622px #ffffff90,
    529px 1589px #ffffff90, 164px 666px #ffffff90, 1876px 1290px #ffffff90, 1541px 526px #ffffff90,
    270px 1297px #ffffff90, 440px 865px #ffffff90, 1500px 802px #ffffff90, 182px 1754px #ffffff90,
    1264px 892px #ffffff90, 272px 1249px #ffffff90, 1289px 1535px #ffffff90, 190px 1646px #ffffff90,
    955px 242px #ffffff90, 1456px 1597px #ffffff90, 1727px 1983px #ffffff90, 635px 801px #ffffff90,
    226px 455px #ffffff90, 1396px 1710px #ffffff90, 849px 1863px #ffffff90, 237px 1264px #ffffff90,
    839px 140px #ffffff90, 1122px 735px #ffffff90, 1280px 15px #ffffff90, 1318px 242px #ffffff90,
    1819px 1148px #ffffff90, 333px 1392px #ffffff90, 1949px 553px #ffffff90, 1878px 1332px #ffffff90,
    467px 548px #ffffff90, 1812px 1082px #ffffff90, 1067px 193px #ffffff90, 243px 156px #ffffff90,
    483px 1616px #ffffff90, 1714px 933px #ffffff90, 759px 1800px #ffffff90, 1822px 995px #ffffff90,
    1877px 572px #ffffff90, 581px 1084px #ffffff90, 107px 732px #ffffff90, 642px 1837px #ffffff90,
    166px 1493px #ffffff90, 1555px 198px #ffffff90, 819px 307px #ffffff90, 947px 345px #ffffff90,
    827px 224px #ffffff90, 927px 1394px #ffffff90, 540px 467px #ffffff90, 1093px 405px #ffffff90,
    1140px 927px #ffffff90, 130px 529px #ffffff90, 33px 1980px #ffffff90, 1147px 1663px #ffffff90,
    1616px 1436px #ffffff90, 528px 710px #ffffff90, 798px 1100px #ffffff90, 505px 1480px #ffffff90,
    899px 641px #ffffff90, 1909px 1949px #ffffff90, 1311px 964px #ffffff90, 979px 1301px #ffffff90,
    1393px 969px #ffffff90, 1793px 1886px #ffffff90, 292px 357px #ffffff90, 1196px 1718px #ffffff90,
    1290px 1994px #ffffff90, 537px 1973px #ffffff90, 1181px 1674px #ffffff90,
    1740px 1566px #ffffff90, 1307px 265px #ffffff90, 922px 522px #ffffff90, 1892px 472px #ffffff90,
    384px 1746px #ffffff90, 392px 1098px #ffffff90, 647px 548px #ffffff90, 390px 1498px #ffffff90,
    1246px 138px #ffffff90, 730px 876px #ffffff90, 192px 1472px #ffffff90, 1790px 1789px #ffffff90,
    928px 311px #ffffff90, 1253px 1647px #ffffff90, 747px 1921px #ffffff90, 1561px 1025px #ffffff90,
    1533px 1292px #ffffff90, 1985px 195px #ffffff90, 728px 729px #ffffff90, 1712px 1936px #ffffff90,
    512px 1717px #ffffff90, 1528px 483px #ffffff90, 313px 1642px #ffffff90, 281px 1849px #ffffff90,
    1212px 799px #ffffff90, 435px 1191px #ffffff90, 1422px 611px #ffffff90, 1718px 1964px #ffffff90,
    411px 944px #ffffff90, 210px 636px #ffffff90, 1502px 1295px #ffffff90, 1434px 349px #ffffff90,
    769px 60px #ffffff90, 747px 1053px #ffffff90, 789px 504px #ffffff90, 1436px 1264px #ffffff90,
    1893px 1225px #ffffff90, 1394px 1788px #ffffff90, 1108px 1317px #ffffff90,
    1673px 1395px #ffffff90, 854px 1010px #ffffff90, 1705px 80px #ffffff90, 1858px 148px #ffffff90,
    1729px 344px #ffffff90, 1388px 664px #ffffff90, 895px 406px #ffffff90, 1479px 157px #ffffff90,
    1441px 1157px #ffffff90, 552px 1900px #ffffff90, 516px 364px #ffffff90, 1647px 189px #ffffff90,
    1427px 1071px #ffffff90, 785px 729px #ffffff90, 1080px 1710px #ffffff90, 504px 204px #ffffff90,
    1177px 1622px #ffffff90, 657px 34px #ffffff90, 1296px 1099px #ffffff90, 248px 180px #ffffff90,
    1212px 1568px #ffffff90, 667px 1562px #ffffff90, 695px 841px #ffffff90, 1608px 1247px #ffffff90,
    751px 882px #ffffff90, 87px 167px #ffffff90, 607px 1368px #ffffff90, 1363px 1203px #ffffff90,
    1836px 317px #ffffff90, 1668px 1703px #ffffff90, 830px 1154px #ffffff90, 1721px 1398px #ffffff90,
    1601px 1280px #ffffff90, 976px 874px #ffffff90, 1743px 254px #ffffff90, 1020px 1815px #ffffff90,
    1670px 1766px #ffffff90, 1890px 735px #ffffff90, 1379px 136px #ffffff90, 1864px 695px #ffffff90,
    206px 965px #ffffff90, 1404px 1932px #ffffff90, 1923px 1360px #ffffff90, 247px 682px #ffffff90,
    519px 1708px #ffffff90, 645px 750px #ffffff90, 1164px 1204px #ffffff90, 834px 323px #ffffff90,
    172px 1350px #ffffff90, 213px 972px #ffffff90, 1837px 190px #ffffff90, 285px 1806px #ffffff90,
    1047px 1299px #ffffff90, 1548px 825px #ffffff90, 1730px 324px #ffffff90, 1346px 1909px #ffffff90,
    772px 270px #ffffff90, 345px 1190px #ffffff90, 478px 1433px #ffffff90, 1479px 25px #ffffff90,
    1994px 1830px #ffffff90, 1744px 732px #ffffff90, 20px 1635px #ffffff90, 690px 1795px #ffffff90,
    1594px 569px #ffffff90, 579px 245px #ffffff90, 1398px 733px #ffffff90, 408px 1352px #ffffff90,
    1774px 120px #ffffff90, 1152px 1370px #ffffff90, 1698px 1810px #ffffff90, 710px 1450px #ffffff90,
    665px 286px #ffffff90, 493px 1720px #ffffff90, 786px 5px #ffffff90, 637px 1140px #ffffff90,
    764px 324px #ffffff90, 927px 310px #ffffff90, 938px 1424px #ffffff90, 1884px 744px #ffffff90,
    913px 462px #ffffff90, 1831px 1936px #ffffff90, 1527px 249px #ffffff90, 36px 1381px #ffffff90,
    1597px 581px #ffffff90, 1530px 355px #ffffff90, 949px 459px #ffffff90, 799px 828px #ffffff90,
    242px 1471px #ffffff90, 654px 797px #ffffff90, 796px 594px #ffffff90, 1365px 678px #ffffff90,
    752px 23px #ffffff90, 1630px 541px #ffffff90, 982px 72px #ffffff90, 1733px 1831px #ffffff90,
    21px 412px #ffffff90, 775px 998px #ffffff90, 335px 1945px #ffffff90, 264px 583px #ffffff90,
    158px 1311px #ffffff90, 528px 164px #ffffff90, 1978px 574px #ffffff90, 717px 1203px #ffffff90,
    734px 1591px #ffffff90, 1555px 820px #ffffff90, 16px 1943px #ffffff90, 1625px 1177px #ffffff90,
    1236px 690px #ffffff90, 1585px 1590px #ffffff90, 1737px 1728px #ffffff90, 721px 698px #ffffff90,
    1804px 1186px #ffffff90, 166px 980px #ffffff90, 1850px 230px #ffffff90, 330px 1712px #ffffff90,
    95px 797px #ffffff90, 1948px 1078px #ffffff90, 469px 939px #ffffff90, 1269px 1899px #ffffff90,
    955px 1220px #ffffff90, 1137px 1075px #ffffff90, 312px 1293px #ffffff90, 986px 1762px #ffffff90,
    1103px 1238px #ffffff90, 428px 1993px #ffffff90, 355px 570px #ffffff90, 977px 1836px #ffffff90,
    1395px 1092px #ffffff90, 276px 913px #ffffff90, 1743px 656px #ffffff90, 773px 502px #ffffff90,
    1686px 1322px #ffffff90, 1516px 1945px #ffffff90, 1334px 501px #ffffff90, 266px 156px #ffffff90,
    455px 655px #ffffff90, 798px 72px #ffffff90, 1059px 1259px #ffffff90, 1402px 1687px #ffffff90,
    236px 1329px #ffffff90, 1455px 786px #ffffff90, 146px 1228px #ffffff90, 1851px 823px #ffffff90,
    1062px 100px #ffffff90, 1220px 953px #ffffff90, 20px 1826px #ffffff90, 36px 1063px #ffffff90,
    1525px 338px #ffffff90, 790px 1521px #ffffff90, 741px 1099px #ffffff90, 288px 1489px #ffffff90,
    700px 1060px #ffffff90, 390px 1071px #ffffff90, 411px 1036px #ffffff90, 1853px 1072px #ffffff90,
    1446px 1085px #ffffff90, 1164px 874px #ffffff90, 924px 925px #ffffff90, 291px 271px #ffffff90,
    1257px 1964px #ffffff90, 1580px 1352px #ffffff90, 1507px 1216px #ffffff90, 211px 956px #ffffff90,
    985px 1195px #ffffff90, 975px 1640px #ffffff90, 518px 101px #ffffff90, 663px 1395px #ffffff90,
    914px 532px #ffffff90, 145px 1320px #ffffff90, 69px 1397px #ffffff90, 982px 523px #ffffff90,
    257px 725px #ffffff90, 1599px 831px #ffffff90, 1636px 1513px #ffffff90, 1250px 1158px #ffffff90,
    1132px 604px #ffffff90, 183px 102px #ffffff90, 1057px 318px #ffffff90, 1247px 1835px #ffffff90,
    1983px 1110px #ffffff90, 1077px 1455px #ffffff90, 921px 1770px #ffffff90, 806px 1350px #ffffff90,
    1938px 1992px #ffffff90, 855px 1260px #ffffff90, 902px 1345px #ffffff90, 658px 1908px #ffffff90,
    1845px 679px #ffffff90, 712px 1482px #ffffff90, 595px 950px #ffffff90, 1784px 1992px #ffffff90,
    1847px 1785px #ffffff90, 691px 1004px #ffffff90, 175px 1179px #ffffff90, 1666px 1911px #ffffff90,
    41px 61px #ffffff90, 971px 1080px #ffffff90, 1830px 1450px #ffffff90, 1351px 1518px #ffffff90,
    1257px 99px #ffffff90, 1395px 1498px #ffffff90, 1117px 252px #ffffff90, 1779px 597px #ffffff90,
    1346px 729px #ffffff90, 1108px 1144px #ffffff90, 402px 691px #ffffff90, 72px 496px #ffffff90,
    1673px 1604px #ffffff90, 1497px 974px #ffffff90, 1865px 1664px #ffffff90, 88px 806px #ffffff90,
    918px 77px #ffffff90, 244px 1118px #ffffff90, 256px 1820px #ffffff90, 1851px 1840px #ffffff90,
    605px 1851px #ffffff90, 634px 383px #ffffff90, 865px 37px #ffffff90, 943px 1024px #ffffff90,
    1951px 177px #ffffff90, 1097px 523px #ffffff90, 985px 1700px #ffffff90, 1243px 122px #ffffff90,
    768px 1070px #ffffff90, 468px 194px #ffffff90, 320px 1867px #ffffff90, 1850px 185px #ffffff90,
    380px 1616px #ffffff90, 468px 1294px #ffffff90, 1122px 1743px #ffffff90, 884px 299px #ffffff90,
    1300px 1917px #ffffff90, 1860px 396px #ffffff90, 1270px 990px #ffffff90, 529px 733px #ffffff90,
    1975px 1347px #ffffff90, 1885px 685px #ffffff90, 226px 506px #ffffff90, 651px 878px #ffffff90,
    1323px 680px #ffffff90, 1284px 680px #ffffff90, 238px 1967px #ffffff90, 911px 174px #ffffff90,
    1111px 521px #ffffff90, 1150px 85px #ffffff90, 794px 502px #ffffff90, 484px 1856px #ffffff90,
    1809px 368px #ffffff90, 112px 953px #ffffff90, 590px 1009px #ffffff90, 1655px 311px #ffffff90,
    100px 1026px #ffffff90, 1803px 352px #ffffff90, 865px 306px #ffffff90, 1077px 1019px #ffffff90,
    1335px 872px #ffffff90, 1647px 1298px #ffffff90, 1233px 1387px #ffffff90, 698px 1036px #ffffff90,
    659px 1860px #ffffff90, 388px 1412px #ffffff90, 1212px 458px #ffffff90, 755px 1468px #ffffff90,
    696px 1654px #ffffff90, 1144px 60px #ffffff90;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animStar 100s linear infinite;
  box-shadow: 1448px 320px #ffffff90, 1775px 1663px #ffffff90, 332px 1364px #ffffff90,
    878px 340px #ffffff90, 569px 1832px #ffffff90, 1422px 1684px #ffffff90, 1946px 1907px #ffffff90,
    121px 979px #ffffff90, 1044px 1069px #ffffff90, 463px 381px #ffffff90, 423px 112px #ffffff90,
    523px 1179px #ffffff90, 779px 654px #ffffff90, 1398px 694px #ffffff90, 1085px 1464px #ffffff90,
    1599px 1869px #ffffff90, 801px 1882px #ffffff90, 779px 1231px #ffffff90, 552px 932px #ffffff90,
    1057px 1196px #ffffff90, 282px 1280px #ffffff90, 496px 1986px #ffffff90, 1833px 1120px #ffffff90,
    1802px 1293px #ffffff90, 6px 1696px #ffffff90, 412px 1902px #ffffff90, 605px 438px #ffffff90,
    24px 1212px #ffffff90, 234px 1320px #ffffff90, 544px 344px #ffffff90, 1107px 170px #ffffff90,
    1603px 196px #ffffff90, 905px 648px #ffffff90, 68px 1458px #ffffff90, 649px 1969px #ffffff90,
    744px 675px #ffffff90, 1127px 478px #ffffff90, 714px 1814px #ffffff90, 1486px 526px #ffffff90,
    270px 1636px #ffffff90, 1931px 149px #ffffff90, 1807px 378px #ffffff90, 8px 390px #ffffff90,
    1415px 699px #ffffff90, 1473px 1211px #ffffff90, 1590px 141px #ffffff90, 270px 1705px #ffffff90,
    69px 1423px #ffffff90, 1108px 1053px #ffffff90, 1946px 128px #ffffff90, 371px 371px #ffffff90,
    1490px 220px #ffffff90, 357px 1885px #ffffff90, 363px 363px #ffffff90, 1896px 1256px #ffffff90,
    1979px 1050px #ffffff90, 947px 1342px #ffffff90, 1754px 242px #ffffff90, 514px 974px #ffffff90,
    65px 1477px #ffffff90, 1840px 547px #ffffff90, 950px 695px #ffffff90, 459px 1150px #ffffff90,
    1124px 1502px #ffffff90, 481px 940px #ffffff90, 680px 839px #ffffff90, 797px 1169px #ffffff90,
    1977px 1491px #ffffff90, 734px 1724px #ffffff90, 210px 298px #ffffff90, 816px 628px #ffffff90,
    686px 770px #ffffff90, 1721px 267px #ffffff90, 1663px 511px #ffffff90, 1481px 1141px #ffffff90,
    582px 248px #ffffff90, 1308px 953px #ffffff90, 628px 657px #ffffff90, 897px 1535px #ffffff90,
    270px 931px #ffffff90, 791px 467px #ffffff90, 1336px 1732px #ffffff90, 1013px 1653px #ffffff90,
    1911px 956px #ffffff90, 587px 816px #ffffff90, 83px 456px #ffffff90, 930px 1478px #ffffff90,
    1587px 1694px #ffffff90, 614px 1200px #ffffff90, 302px 1782px #ffffff90, 1711px 1432px #ffffff90,
    443px 904px #ffffff90, 1666px 714px #ffffff90, 1588px 1167px #ffffff90, 273px 1075px #ffffff90,
    1679px 461px #ffffff90, 721px 664px #ffffff90, 1202px 10px #ffffff90, 166px 1126px #ffffff90,
    331px 1628px #ffffff90, 430px 1565px #ffffff90, 1585px 509px #ffffff90, 640px 38px #ffffff90,
    822px 837px #ffffff90, 1760px 1664px #ffffff90, 1122px 1458px #ffffff90, 398px 131px #ffffff90,
    689px 285px #ffffff90, 460px 652px #ffffff90, 1627px 365px #ffffff90, 348px 1648px #ffffff90,
    819px 1946px #ffffff90, 981px 1917px #ffffff90, 323px 76px #ffffff90, 979px 684px #ffffff90,
    887px 536px #ffffff90, 1348px 1596px #ffffff90, 1055px 666px #ffffff90, 1402px 1797px #ffffff90,
    1300px 1055px #ffffff90, 937px 238px #ffffff90, 1474px 1815px #ffffff90, 1144px 1710px #ffffff90,
    1629px 1087px #ffffff90, 911px 919px #ffffff90, 771px 819px #ffffff90, 403px 720px #ffffff90,
    163px 736px #ffffff90, 1062px 238px #ffffff90, 1774px 818px #ffffff90, 1874px 1178px #ffffff90,
    1177px 699px #ffffff90, 1244px 1244px #ffffff90, 1371px 58px #ffffff90, 564px 1515px #ffffff90,
    1824px 487px #ffffff90, 929px 702px #ffffff90, 394px 1348px #ffffff90, 1161px 641px #ffffff90,
    219px 1841px #ffffff90, 358px 941px #ffffff90, 140px 1759px #ffffff90, 1019px 1345px #ffffff90,
    274px 436px #ffffff90, 1433px 1605px #ffffff90, 1798px 1426px #ffffff90, 294px 1848px #ffffff90,
    1681px 1877px #ffffff90, 1344px 1824px #ffffff90, 1439px 1632px #ffffff90,
    161px 1012px #ffffff90, 1308px 588px #ffffff90, 1789px 582px #ffffff90, 721px 1910px #ffffff90,
    318px 218px #ffffff90, 607px 319px #ffffff90, 495px 535px #ffffff90, 1552px 1575px #ffffff90,
    1562px 67px #ffffff90, 403px 926px #ffffff90, 1096px 1800px #ffffff90, 1814px 1709px #ffffff90,
    1882px 1831px #ffffff90, 533px 46px #ffffff90, 823px 969px #ffffff90, 530px 165px #ffffff90,
    1030px 352px #ffffff90, 1681px 313px #ffffff90, 338px 115px #ffffff90, 1607px 211px #ffffff90,
    1718px 1184px #ffffff90, 1589px 659px #ffffff90, 278px 355px #ffffff90, 464px 1464px #ffffff90,
    1165px 277px #ffffff90, 950px 694px #ffffff90, 1746px 293px #ffffff90, 793px 911px #ffffff90,
    528px 773px #ffffff90, 1883px 1694px #ffffff90, 748px 182px #ffffff90, 1924px 1531px #ffffff90,
    100px 636px #ffffff90, 1473px 1445px #ffffff90, 1264px 1244px #ffffff90, 850px 1377px #ffffff90,
    987px 1976px #ffffff90, 933px 1761px #ffffff90, 922px 1270px #ffffff90, 500px 396px #ffffff90,
    1324px 8px #ffffff90, 1967px 1814px #ffffff90, 1072px 1401px #ffffff90, 961px 37px #ffffff90,
    156px 81px #ffffff90, 1915px 502px #ffffff90, 1076px 1846px #ffffff90, 152px 1669px #ffffff90,
    986px 1529px #ffffff90, 1667px 1137px #ffffff90;
}

.stars2:after {
  content: '';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1448px 320px #ffffff90, 1775px 1663px #ffffff90, 332px 1364px #ffffff90,
    878px 340px #ffffff90, 569px 1832px #ffffff90, 1422px 1684px #ffffff90, 1946px 1907px #ffffff90,
    121px 979px #ffffff90, 1044px 1069px #ffffff90, 463px 381px #ffffff90, 423px 112px #ffffff90,
    523px 1179px #ffffff90, 779px 654px #ffffff90, 1398px 694px #ffffff90, 1085px 1464px #ffffff90,
    1599px 1869px #ffffff90, 801px 1882px #ffffff90, 779px 1231px #ffffff90, 552px 932px #ffffff90,
    1057px 1196px #ffffff90, 282px 1280px #ffffff90, 496px 1986px #ffffff90, 1833px 1120px #ffffff90,
    1802px 1293px #ffffff90, 6px 1696px #ffffff90, 412px 1902px #ffffff90, 605px 438px #ffffff90,
    24px 1212px #ffffff90, 234px 1320px #ffffff90, 544px 344px #ffffff90, 1107px 170px #ffffff90,
    1603px 196px #ffffff90, 905px 648px #ffffff90, 68px 1458px #ffffff90, 649px 1969px #ffffff90,
    744px 675px #ffffff90, 1127px 478px #ffffff90, 714px 1814px #ffffff90, 1486px 526px #ffffff90,
    270px 1636px #ffffff90, 1931px 149px #ffffff90, 1807px 378px #ffffff90, 8px 390px #ffffff90,
    1415px 699px #ffffff90, 1473px 1211px #ffffff90, 1590px 141px #ffffff90, 270px 1705px #ffffff90,
    69px 1423px #ffffff90, 1108px 1053px #ffffff90, 1946px 128px #ffffff90, 371px 371px #ffffff90,
    1490px 220px #ffffff90, 357px 1885px #ffffff90, 363px 363px #ffffff90, 1896px 1256px #ffffff90,
    1979px 1050px #ffffff90, 947px 1342px #ffffff90, 1754px 242px #ffffff90, 514px 974px #ffffff90,
    65px 1477px #ffffff90, 1840px 547px #ffffff90, 950px 695px #ffffff90, 459px 1150px #ffffff90,
    1124px 1502px #ffffff90, 481px 940px #ffffff90, 680px 839px #ffffff90, 797px 1169px #ffffff90,
    1977px 1491px #ffffff90, 734px 1724px #ffffff90, 210px 298px #ffffff90, 816px 628px #ffffff90,
    686px 770px #ffffff90, 1721px 267px #ffffff90, 1663px 511px #ffffff90, 1481px 1141px #ffffff90,
    582px 248px #ffffff90, 1308px 953px #ffffff90, 628px 657px #ffffff90, 897px 1535px #ffffff90,
    270px 931px #ffffff90, 791px 467px #ffffff90, 1336px 1732px #ffffff90, 1013px 1653px #ffffff90,
    1911px 956px #ffffff90, 587px 816px #ffffff90, 83px 456px #ffffff90, 930px 1478px #ffffff90,
    1587px 1694px #ffffff90, 614px 1200px #ffffff90, 302px 1782px #ffffff90, 1711px 1432px #ffffff90,
    443px 904px #ffffff90, 1666px 714px #ffffff90, 1588px 1167px #ffffff90, 273px 1075px #ffffff90,
    1679px 461px #ffffff90, 721px 664px #ffffff90, 1202px 10px #ffffff90, 166px 1126px #ffffff90,
    331px 1628px #ffffff90, 430px 1565px #ffffff90, 1585px 509px #ffffff90, 640px 38px #ffffff90,
    822px 837px #ffffff90, 1760px 1664px #ffffff90, 1122px 1458px #ffffff90, 398px 131px #ffffff90,
    689px 285px #ffffff90, 460px 652px #ffffff90, 1627px 365px #ffffff90, 348px 1648px #ffffff90,
    819px 1946px #ffffff90, 981px 1917px #ffffff90, 323px 76px #ffffff90, 979px 684px #ffffff90,
    887px 536px #ffffff90, 1348px 1596px #ffffff90, 1055px 666px #ffffff90, 1402px 1797px #ffffff90,
    1300px 1055px #ffffff90, 937px 238px #ffffff90, 1474px 1815px #ffffff90, 1144px 1710px #ffffff90,
    1629px 1087px #ffffff90, 911px 919px #ffffff90, 771px 819px #ffffff90, 403px 720px #ffffff90,
    163px 736px #ffffff90, 1062px 238px #ffffff90, 1774px 818px #ffffff90, 1874px 1178px #ffffff90,
    1177px 699px #ffffff90, 1244px 1244px #ffffff90, 1371px 58px #ffffff90, 564px 1515px #ffffff90,
    1824px 487px #ffffff90, 929px 702px #ffffff90, 394px 1348px #ffffff90, 1161px 641px #ffffff90,
    219px 1841px #ffffff90, 358px 941px #ffffff90, 140px 1759px #ffffff90, 1019px 1345px #ffffff90,
    274px 436px #ffffff90, 1433px 1605px #ffffff90, 1798px 1426px #ffffff90, 294px 1848px #ffffff90,
    1681px 1877px #ffffff90, 1344px 1824px #ffffff90, 1439px 1632px #ffffff90,
    161px 1012px #ffffff90, 1308px 588px #ffffff90, 1789px 582px #ffffff90, 721px 1910px #ffffff90,
    318px 218px #ffffff90, 607px 319px #ffffff90, 495px 535px #ffffff90, 1552px 1575px #ffffff90,
    1562px 67px #ffffff90, 403px 926px #ffffff90, 1096px 1800px #ffffff90, 1814px 1709px #ffffff90,
    1882px 1831px #ffffff90, 533px 46px #ffffff90, 823px 969px #ffffff90, 530px 165px #ffffff90,
    1030px 352px #ffffff90, 1681px 313px #ffffff90, 338px 115px #ffffff90, 1607px 211px #ffffff90,
    1718px 1184px #ffffff90, 1589px 659px #ffffff90, 278px 355px #ffffff90, 464px 1464px #ffffff90,
    1165px 277px #ffffff90, 950px 694px #ffffff90, 1746px 293px #ffffff90, 793px 911px #ffffff90,
    528px 773px #ffffff90, 1883px 1694px #ffffff90, 748px 182px #ffffff90, 1924px 1531px #ffffff90,
    100px 636px #ffffff90, 1473px 1445px #ffffff90, 1264px 1244px #ffffff90, 850px 1377px #ffffff90,
    987px 1976px #ffffff90, 933px 1761px #ffffff90, 922px 1270px #ffffff90, 500px 396px #ffffff90,
    1324px 8px #ffffff90, 1967px 1814px #ffffff90, 1072px 1401px #ffffff90, 961px 37px #ffffff90,
    156px 81px #ffffff90, 1915px 502px #ffffff90, 1076px 1846px #ffffff90, 152px 1669px #ffffff90,
    986px 1529px #ffffff90, 1667px 1137px #ffffff90;
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  animation: animStar 150s linear infinite;
  box-shadow: 387px 1878px #ffffff90, 760px 1564px #ffffff90, 1487px 999px #ffffff90,
    948px 1828px #ffffff90, 1977px 1001px #ffffff90, 1284px 1963px #ffffff90, 656px 284px #ffffff90,
    1268px 1635px #ffffff90, 1820px 598px #ffffff90, 642px 1900px #ffffff90, 296px 57px #ffffff90,
    921px 1620px #ffffff90, 476px 1858px #ffffff90, 658px 613px #ffffff90, 1171px 1363px #ffffff90,
    1419px 283px #ffffff90, 1037px 731px #ffffff90, 503px 663px #ffffff90, 1562px 463px #ffffff90,
    383px 1197px #ffffff90, 1171px 1233px #ffffff90, 876px 1768px #ffffff90, 856px 1615px #ffffff90,
    1375px 1924px #ffffff90, 1725px 918px #ffffff90, 952px 119px #ffffff90, 768px 1212px #ffffff90,
    992px 1462px #ffffff90, 1929px 717px #ffffff90, 1947px 755px #ffffff90, 1818px 1123px #ffffff90,
    1896px 1672px #ffffff90, 460px 198px #ffffff90, 256px 271px #ffffff90, 752px 544px #ffffff90,
    1222px 1859px #ffffff90, 1851px 443px #ffffff90, 313px 1858px #ffffff90, 709px 446px #ffffff90,
    1546px 697px #ffffff90, 674px 1155px #ffffff90, 1112px 130px #ffffff90, 355px 1790px #ffffff90,
    1496px 974px #ffffff90, 1696px 480px #ffffff90, 1316px 1265px #ffffff90, 1645px 1063px #ffffff90,
    1182px 237px #ffffff90, 427px 1582px #ffffff90, 859px 253px #ffffff90, 458px 939px #ffffff90,
    1517px 1644px #ffffff90, 1943px 60px #ffffff90, 212px 1650px #ffffff90, 966px 1786px #ffffff90,
    473px 712px #ffffff90, 130px 76px #ffffff90, 1417px 1186px #ffffff90, 909px 1580px #ffffff90,
    1913px 762px #ffffff90, 204px 1143px #ffffff90, 1998px 1057px #ffffff90, 1468px 1301px #ffffff90,
    144px 1676px #ffffff90, 21px 1601px #ffffff90, 382px 1362px #ffffff90, 912px 753px #ffffff90,
    1488px 1405px #ffffff90, 802px 156px #ffffff90, 174px 550px #ffffff90, 338px 1366px #ffffff90,
    1197px 774px #ffffff90, 602px 486px #ffffff90, 682px 1877px #ffffff90, 348px 1503px #ffffff90,
    407px 1139px #ffffff90, 950px 1400px #ffffff90, 922px 1139px #ffffff90, 1697px 293px #ffffff90,
    1238px 1281px #ffffff90, 1038px 1197px #ffffff90, 376px 1889px #ffffff90,
    1255px 1680px #ffffff90, 1008px 1316px #ffffff90, 1538px 1447px #ffffff90,
    1186px 874px #ffffff90, 1967px 640px #ffffff90, 1341px 19px #ffffff90, 29px 1732px #ffffff90,
    16px 1650px #ffffff90, 1021px 1075px #ffffff90, 723px 424px #ffffff90, 1175px 41px #ffffff90,
    494px 1957px #ffffff90, 1296px 431px #ffffff90, 175px 1507px #ffffff90, 831px 121px #ffffff90,
    498px 1947px #ffffff90, 617px 880px #ffffff90, 240px 403px #ffffff90;
}

.stars3:after {
  content: '';
  position: absolute;
  top: 2000px;
  width: px;
  height: 3px;
  background: transparent;
  box-shadow: 387px 1878px #ffffff90, 760px 1564px #ffffff90, 1487px 999px #ffffff90,
    948px 1828px #ffffff90, 1977px 1001px #ffffff90, 1284px 1963px #ffffff90, 656px 284px #ffffff90,
    1268px 1635px #ffffff90, 1820px 598px #ffffff90, 642px 1900px #ffffff90, 296px 57px #ffffff90,
    921px 1620px #ffffff90, 476px 1858px #ffffff90, 658px 613px #ffffff90, 1171px 1363px #ffffff90,
    1419px 283px #ffffff90, 1037px 731px #ffffff90, 503px 663px #ffffff90, 1562px 463px #ffffff90,
    383px 1197px #ffffff90, 1171px 1233px #ffffff90, 876px 1768px #ffffff90, 856px 1615px #ffffff90,
    1375px 1924px #ffffff90, 1725px 918px #ffffff90, 952px 119px #ffffff90, 768px 1212px #ffffff90,
    992px 1462px #ffffff90, 1929px 717px #ffffff90, 1947px 755px #ffffff90, 1818px 1123px #ffffff90,
    1896px 1672px #ffffff90, 460px 198px #ffffff90, 256px 271px #ffffff90, 752px 544px #ffffff90,
    1222px 1859px #ffffff90, 1851px 443px #ffffff90, 313px 1858px #ffffff90, 709px 446px #ffffff90,
    1546px 697px #ffffff90, 674px 1155px #ffffff90, 1112px 130px #ffffff90, 355px 1790px #ffffff90,
    1496px 974px #ffffff90, 1696px 480px #ffffff90, 1316px 1265px #ffffff90, 1645px 1063px #ffffff90,
    1182px 237px #ffffff90, 427px 1582px #ffffff90, 859px 253px #ffffff90, 458px 939px #ffffff90,
    1517px 1644px #ffffff90, 1943px 60px #ffffff90, 212px 1650px #ffffff90, 966px 1786px #ffffff90,
    473px 712px #ffffff90, 130px 76px #ffffff90, 1417px 1186px #ffffff90, 909px 1580px #ffffff90,
    1913px 762px #ffffff90, 204px 1143px #ffffff90, 1998px 1057px #ffffff90, 1468px 1301px #ffffff90,
    144px 1676px #ffffff90, 21px 1601px #ffffff90, 382px 1362px #ffffff90, 912px 753px #ffffff90,
    1488px 1405px #ffffff90, 802px 156px #ffffff90, 174px 550px #ffffff90, 338px 1366px #ffffff90,
    1197px 774px #ffffff90, 602px 486px #ffffff90, 682px 1877px #ffffff90, 348px 1503px #ffffff90,
    407px 1139px #ffffff90, 950px 1400px #ffffff90, 922px 1139px #ffffff90, 1697px 293px #ffffff90,
    1238px 1281px #ffffff90, 1038px 1197px #ffffff90, 376px 1889px #ffffff90,
    1255px 1680px #ffffff90, 1008px 1316px #ffffff90, 1538px 1447px #ffffff90,
    1186px 874px #ffffff90, 1967px 640px #ffffff90, 1341px 19px #ffffff90, 29px 1732px #ffffff90,
    16px 1650px #ffffff90, 1021px 1075px #ffffff90, 723px 424px #ffffff90, 1175px 41px #ffffff90,
    494px 1957px #ffffff90, 1296px 431px #ffffff90, 175px 1507px #ffffff90, 831px 121px #ffffff90,
    498px 1947px #ffffff90, 617px 880px #ffffff90, 240px 403px #ffffff90;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}